/main-export.zip
/web-export.zip
*.class
*/bin/
*/*.war
*/src/main/webapp/WEB-INF/classes/
*/src/main/webapp/WEB-INF/lib/ivtAuswertung.jar
*/.settings
.gradle/*
*/build
.classpath
.project
.idea/*
ivtAuswertung.jar
*/*.iml